*{
    padding: 0;
    margin: 0;
}

body{
    background-color: turquoise;
}

.vs{
    height: 60vh;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
}

.you-safety , .bot-safety{
    border: 3px solid white;
    height: 300px;
    width: 300px;
    border-radius: 50%;
    display: grid;
    place-items: end center;
    overflow: hidden;
}

#you , #bot{
    font-size: 3rem;
    background-color: aliceblue;
}

#vs{
    font-size: 5rem;
}

.move{
    height: 40vh;
    text-align: center;
}

#selectyourmove{
    font-size: 3rem;
}

.selectmove{
    height: 35vh;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
}

.stone{
    border: 3px solid white;
    height: 250px;
    width: 250px;
    border-radius: 50%;
    background-image: url(stone.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
}

.paper{
    border: 3px solid white;
    height: 250px;
    width: 250px;
    border-radius: 50%;
    background-image: url(paper.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
}

.scissors{
    border: 3px solid white;
    height: 250px;
    width: 250px;
    border-radius: 50%;
    background-image: url(scissors.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
}

.result-stone{
    border: 3px solid white;
    height: 300px;
    width: 300px;
    border-radius: 50%;
    display: grid;
    place-items: end center;
    overflow: hidden;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url(stone.jpeg);
}

.result-paper{
    border: 3px solid white;
    height: 300px;
    width: 300px;
    border-radius: 50%;
    display: grid;
    place-items: end center;
    overflow: hidden;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url(paper.jpeg);
}

.result-scissors{
    border: 3px solid white;
    height: 300px;
    width: 300px;
    border-radius: 50%;
    display: grid;
    place-items: end center;
    overflow: hidden;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url(scissors.jpeg);
}